
<meta charset="utf-8">
<meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
<title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>

<!-- CSS -->
<!-- Add Material font (Roboto) and Material icon as needed -->
<link href="{{ site.cdn.md_font }}" rel="stylesheet">
<link href="{{ site.cdn.md_icon }}" rel="stylesheet">

<!-- Add Material CSS, replace Bootstrap CSS -->
<link href="{{ site.baseurl }}/css/material.css" rel="stylesheet">

<!-- Additional CSS for documentation site -->
<link href="{{ site.cdn.bs_css_docs }}" rel="stylesheet">
<link href="{{ site.baseurl }}/slack-group/css/docs.css" rel="stylesheet">

<!-- Favicons -->
<meta content="#9c27b0" name="theme-color">
